/*	=Colors
	...................................................................... */
/*	=Mixins
	...................................................................... */
/*	=Main Styles
	...................................................................... */
body {
  background: #040f00;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  font-size: 16px; }

.container {
  margin: 0 auto;
  width: 100%; }

#content_container {
  background: #222222; }

#content {
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  background: white;
  margin: 0 20px; }

.module {
  padding: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif, verdana;
  letter-spacing: -1px; }

h2 {
  font-size: 1.6em;
  font-weight: bold; }

.button {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd757), to(#ffaa22));
  background: -moz-linear-gradient(top, #ffec64, #ffb027);
  border: 1px solid #FA2;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*  border-radius: 5px;*/ }

/*	=Header Styles
	...................................................................... */
header {
  height: 120px; }

header li.active {
  background: #5c65a5; }

header li.active a {
  font-weight: bold; }

h1#logo {
  font-size: 18px;
  margin-left: 20px;
  padding-top: 25px;
  padding-bottom: 5px; }

h1#logo a {
  color: white;
  font-weight: bold;
  text-decoration: none; }

#main-nav {
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  background: #4b538b;
  height: 50px;
  margin: 0 20px;
  margin-top: 22px; }

#main-nav ul {
  padding-left: 20px; }

#main-nav li {
  float: left;
  height: 35px;
  list-style-type: none;
  padding: 12px 20px 0 20px; }

#main-nav a {
  color: white;
  text-decoration: none;
  font-size: 14px; }

/*	=Dashboard Styles
	...................................................................... */
#dashboard-nav {
  background-color: #e9e9e9;
  height: 36px;
  padding-left: 5px;
  padding-top: 14px;
  background: -moz-linear-gradient(center bottom, #e9e9e9 64%, #c7c7c7 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.64, #e9e9e9), color-stop(1, #c7c7c7));
  border-bottom: 1px solid #BDBDBD;
  border-top: 1px solid white; }

#dashboard-nav ul {
  padding-left: 15px; }

#dashboard-nav li.active a {
  color: black;
  font-weight: bold; }

#dashboard-nav li {
  float: left;
  list-style-type: none;
  margin-right: 30px; }

#dashboard-nav a {
  color: #8e8e8e;
  text-decoration: none;
  font-size: 14px; }

#dashboard-page #welcome {
  float: left; }

#dashboard-page #stats {
  float: right;
  font-size: .9em; }

#dashboard-page #beacon-data {
  clear: both; }

/*	=Sign Up Form
	...................................................................... */
#signup {
  padding: 15px; }

#signup h2 {
  font-weight: bold; }

#signup .field {
  clear: both;
  float: left; }

#signup label {
  font-size: 20px; }

#signup .form_field {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*  border-radius: 5px;*/
  border: 1px solid #8e8e8e;
  background: #e9e9e9;
  width: 430px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 10px 0 20px 45px; }

#signup .form_field input {
  font-size: 1.6em;
  height: 25px;
  width: 350px;
  padding: 8px 10px;
  color: #333;
  display: block;
  border-top: 2px solid #8e8e8e; }

#signup .actions {
  clear: both; }

#signup .actions input {
  font-size: 22px;
  /*  @include button;*/ }

#signup .hilite {
  background: #ffb82f; }

/*	=Error Styles
	...................................................................... */
#signup .error {
  padding: 0; }

#signup label.error {
  background: none;
  border: none; }

#signup input.error {
  border: 3px solid #ff4a24;
  color: #2d2c2e;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd4d4), to(#f69a9a));
  background: -moz-linear-gradient(top, #ffd4d4, #f69a9a); }

#signup input.valid {
  border: 3px solid green;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d7ffd4), to(#adf69a));
  background: -moz-linear-gradient(top, #d7ffd4, #adf69a); }

/*	=Beacon Data Table Styles
	...................................................................... */
#dashboard-table td {
  height: 40px; }

td.url a {
  text-decoration: none;
  color: #040f00;
  font-weight: bold;
  font-size: 1em; }

td.view_report a {
  color: #040f00;
  text-decoration: none; }
