/*	=Colors
	...................................................................... */

$dark_black: #040f00;
$light_black: #222222;
$dark_purple: #4b538b;
$light_purple: #5c65a5;
$dark_silver: #8e8e8e;
$light_silver: #e9e9e9;
$off_white: #f4f4f4;
$gold:#FFB82F;
$yellow: #F1DE00;
$yellow_shadow: #d2c53a;
$red: #FF4A24;
$red_shadow: #d1503b; 
$blue:#0071B3;
$blue_shadow:#32659c;
$black: #2D2C2E;
$black_shadow:#282729;
$warning: #cc3333;
$success: #33cc33;
$aside: #f9f8bc;

/*	=Mixins
	...................................................................... */

@mixin rounded_corners{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
/*  border-radius: 5px;*/
}

@mixin rounded_top_corners {
   -moz-border-radius-topright: 10px;
   -moz-border-radius-topleft: 10px;
   -webkit-border-top-right-radius: 10px; 
   -webkit-border-top-left-radius: 10px;
}

@mixin rounded_bottom_corners {
   -moz-border-radius-bottomright: 10px;
   -moz-border-radius-bottomleft: 10px;
   -webkit-border-bottom-right-radius: 10px; 
   -webkit-border-bottom-left-radius: 10px;
}


@mixin shadow {
  -moz-box-shadow: 1px 2px 20px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 2px 20px rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

@mixin shadow_enhanced {
  -moz-box-shadow: 1px 2px 20px $gold;
  -webkit-box-shadow: 1px 2px 20px $gold;
  border-bottom: 1px solid $gold;
}

@mixin button {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFD757), to(#FA2));
  background: -moz-linear-gradient(top, #FFEC64, #FFB027);
  border: 1px solid #FA2;
  font-weight: bold;
  cursor:pointer;
  padding:5px 10px;
}

/*	=Main Styles
	...................................................................... */
	
body {
  background: $dark_black;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  font-size:16px;
}

.container {
  margin:0 auto;
  width:100%;
}

#content_container {
  background: $light_black;
}

#content {
  @include rounded_bottom_corners;
  background: white;
  margin:0 20px;

}

.module {
    padding:20px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Helvetica, Arial, sans-serif, verdana;
  letter-spacing:-1px;
 
}

h2 {
  font-size:1.6em;
  font-weight:bold;
}

.button {
  @include button;
  @include rounded_corners;
}

/*	=Header Styles
	...................................................................... */

header {
  height:120px;
}

header li.active {
  background: $light_purple;
}

header li.active a {
  font-weight:bold;
}

h1#logo {
  font-size:18px;
  margin-left:20px;
  padding-top:25px;
  padding-bottom:5px;
}

h1#logo a {
  color:white;
  font-weight:bold;
  text-decoration:none;
}

#main-nav {
  @include rounded_top_corners;
  background:$dark_purple;
  height:50px;
  margin:0 20px;
  margin-top:22px;
}

#main-nav ul {
  padding-left:20px;
}

#main-nav li {
  float:left;
  height:35px;
  list-style-type:none;
  padding:12px 20px 0 20px;
}

#main-nav a {
  color:white;
  text-decoration:none;
  font-size:14px;
}


/*	=Dashboard Styles
	...................................................................... */

#dashboard-nav {
  background-color:$light_silver;
  height:36px;
  padding-left:5px;
  padding-top:14px;
  background:-moz-linear-gradient( center bottom, #E9E9E9 64%, #C7C7C7 100% );
  background:-webkit-gradient( linear, left bottom, left top, color-stop(0.64, #E9E9E9), color-stop(1, #C7C7C7) );
  border-bottom:1px solid #BDBDBD;
  border-top:1px solid white;
}

#dashboard-nav ul {
  padding-left:15px;
}

#dashboard-nav li.active a {
  color:black;
  font-weight:bold;
}

#dashboard-nav li {
  float:left;
  list-style-type:none;
  margin-right:30px;
}

#dashboard-nav a {
  color:$dark_silver;
  text-decoration:none;
  font-size:14px;
}

#dashboard-page #welcome {
  float:left;
}

#dashboard-page #stats {
  float:right;
  font-size:.9em;
}

#dashboard-page #beacon-data {
  clear:both;
}

/*	=Sign Up Form
	...................................................................... */

#signup {
  padding:15px;
}

#signup h2 {
  font-weight:bold;
}

#signup .field {
  clear:both;
  float:left;
}

#signup label {
  font-size:20px;
}

#signup .form_field {
  @include rounded_corners;
  border:1px solid $dark_silver;
  background: $light_silver;
  width:430px;
  margin-bottom:10px;
  margin-right:20px;
  padding:10px 0 20px 45px;
}

#signup .form_field input {
  font-size:1.6em;
  height:25px;
  width: 350px;
  padding: 8px 10px;
  color: #333;
  display:block;
  border-top: 2px solid $dark_silver;
}

#signup .actions {
  clear:both;
}

#signup .actions input {
  font-size: 22px;
/*  @include button;*/
}

#signup .hilite {
  background: $gold;
}

/*	=Error Styles
	...................................................................... */

#signup .error {
  padding:0;
}

#signup label.error {
  background: none;
  border:none;
}

#signup input.error {
  border:3px solid $red;
  color: $black;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd4d4), to(#f69a9a));
  background: -moz-linear-gradient(top, #ffd4d4, #f69a9a);
}

#signup input.valid {
  border:3px solid green;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d7ffd4), to(#adf69a));
  background: -moz-linear-gradient(top, #d7ffd4, #adf69a);
}

/*	=Beacon Data Table Styles
	...................................................................... */

#dashboard-table td {
  height:40px;
}

td.url a {
  text-decoration:none;
  color:$dark_black;
  font-weight:bold;
  font-size:1em;
}

td.view_report a {
  color: $dark_black;
  text-decoration:none;
}



