/*	=Colors
	...................................................................... */
/*	=Mixins
	...................................................................... */
/*	=Main Styles
	...................................................................... */
body {
  background-color: #0071B3; }

.container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 5px;
  padding: 20px;
  color: black; }

ul {
  list-style-type: none; }

.center {
  text-align: center; }

.container #sub_container {
  background-color: white;
  -moz-border-radius: 10px 10px;
  float: left;
  padding: 20px;
  /*border:1px solid #0071B3*/
  -moz-border-radius: 10px;
  -moz-box-shadow: 0 0 30px #999999;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 0 30px #999999;
  width: 96%; }

.container #sub_container #sub_container_back {
  -moz-border-radius: 5px 5px 5px 5px;
  background: none repeat scroll 0 0 #D4D4D4;
  padding: 19px; }

h1 {
  color: white;
  font-size: 2em; }

.container h1 {
  color: black; }

h1, h2, h3, h4, h5, h6 {
  /*color:white;*/ }

/*	=Header Styles
	...................................................................... */
header {
  position: relative;
  height: 100px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2d2c2e), to(#282729));
  background: -moz-linear-gradient(top, #2d2c2e, #282729); }

header h1 {
  position: absolute;
  top: 35px;
  border-bottom: 1px solid white;
  padding-bottom: 5px; }

/*	=Link Styles
	...................................................................... */
a {
  text-decoration: underline;
  font-weight: bold;
  color: white !important; }

#sub_container a {
  color: #009 !important; }

h1 a {
  text-decoration: none; }

/*	=Table Styles
	...................................................................... */
table {
  background-color: white;
  clear: both;
  font-size: 95%; }

table thead th {
  background-color: #ecf1f0;
  background: white url(../images/gradients/gradient-table-heading.png) repeat-x scroll 0 0;
  border: 1px solid #DDDDDD; }

table thead th.alexa {
  width: 100px;
  text-align: center; }

table thead th.yslow {
  width: 100px;
  text-align: center; }

table thead th.page_speed {
  width: 100px;
  text-align: center; }

table tbody tr {
  height: 30px; }

table tbody tr.even td {
  background: #EDF3FE; }

/*	=Module
	...................................................................... */
.container .module {
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px 20px; }

.container .module h2 {
  font-size: 1.5em;
  font-weight: bold; }

/*	=Top Nav Styles
	...................................................................... */
/*	=Main Content Styles
	...................................................................... */
#main_content {
  width: 100%; }

.container #main_content h2 {
  float: left; }

.container #main_content .pagination {
  float: right; }

/*	=Footer Styles
	...................................................................... */
#footer {
  clear: both; }

/*	=Show Page
	...................................................................... */
#show_page h2 {
  margin-bottom: 40px; }

div.grades {
  clear: both;
  margin-top: 50px; }

/*	=Link Styles
	...................................................................... */
.jqmWindow {
  position: relative; }

.jqmWindow a.jqmClose {
  position: absolute;
  right: 10px; }

/*	=Error Styles
	...................................................................... */
#signup .error {
  padding: 0; }

#signup label.error {
  background: none;
  border: none; }

#signup input.error {
  border: 3px solid #ff4a24;
  color: #2d2c2e;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd4d4), to(#f69a9a));
  background: -moz-linear-gradient(top, #ffd4d4, #f69a9a); }

#signup input.valid {
  border: 3px solid green;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d7ffd4), to(#adf69a));
  background: -moz-linear-gradient(top, #d7ffd4, #adf69a); }

/*.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}*/
/*	=Sign Up Form
	...................................................................... */
#signup {
  padding: 15px; }

#signup .field {
  clear: both;
  float: left; }

#signup label {
  font-size: 20px; }

#signup .form_field {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*  border-radius: 5px;*/
  float: left;
  width: 500px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 10px 0 20px 45px;
  background: #e7e3e8;
  border: 1px solid #cecbd0; }

#signup .form_field input {
  display: block;
  height: 40px;
  width: 450px;
  font-size: 30px; }

#signup .actions {
  clear: both; }

#signup .actions input {
  /*  width: 130px;*/
  /*  height: 45px;*/
  color: #2d2c2e;
  font-size: 22px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd757), to(#ffaa22));
  background: -moz-linear-gradient(top, #ffec64, #ffb027);
  border: 1px solid #FA2;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px; }

#signup .hilite {
  background: #ffb82f; }

/*	=Sign In Styles
	...................................................................... */
header #sign-in {
  position: absolute;
  right: 0;
  top: 18px;
  width: 470px; }

header #sign-in .field {
  margin-right: 20px; }

header #sign-in label {
  display: block; }

header #sign-in .field input {
  height: 20px; }

header #sign-in .field,
header #sign-in .actions {
  float: left; }

header #sign-in label {
  color: white;
  margin-right: 5px; }

header #sign-in .actions input {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd757), to(#ffaa22));
  background: -moz-linear-gradient(top, #ffec64, #ffb027);
  border: 1px solid #FA2;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 22px; }
