%a.jqmClose{:href => "#"} Close
%h2
  = @domain
%table
  %thead
    %th
      File Type
    %th
      Aggregate Weight
    %th
      Total Requests

  %tbody
  - @stats.each do |k,v|
    %tr
      %td
        = k
      %td
        = v
      %td
        = json_to_hash(v,"r")
        

          
