%h2
  = @the_url.name
#sub_container
  #sub_container_back
    .module
      %table#dashboard
        %thead
          %th
            Load Time
          %th
            Empty Cache Page Weight
          %th
            Primed Cache Page Weight
          %th
            Empty Cache Requests
          %th
            Primed Cache Requests
          %th
            Stats
          %th
            Components
          %th
            YSlow Score
          %th
            Recorded Date
        %tbody
          - @yslow2_scores.each do |u|
            %tr
              = u.url.name
            %tr
              %td
                = u.lt
              %td
                = u.w
                







