%header
  %h1
    %a{:href => url_index_path, :title => "Site Speed Tracker"}
      HIGHPERFORMINGSITES.COM
  %nav
    %ul
      %li
        = link_to "Home", root_path
      %li
        = link_to "Sign In", signin_path