%header
  .container
    %h1
      %a{:href => url_index_path, :title => "highperformingsites.com"}
        HIGHPERFORMINGSITES.COM    
    - if signed_in?
      %nav
        %ul
          %li
            = link_to "Profile", current_user
          %li
            = link_to "Sign Out", signout_path, :method => :delete
    - else
      = render :partial => "shared/signin"